# Forzar la detección de lenguajes usados en el repo
*.html linguist-detectable=true
*.html linguist-language=HTML
*.js linguist-detectable=true
*.js linguist-language=JavaScript
*.ts linguist-detectable=true
*.ts linguist-language=TypeScript
*.py linguist-detectable=true
*.py linguist-language=Python
*.java linguist-detectable=true
*.java linguist-language=Java
*.c linguist-detectable=true
*.c linguist-language=C
*.cpp linguist-detectable=true
*.cpp linguist-language=C++
*.cs linguist-detectable=true
*.cs linguist-language=C#
*.rb linguist-detectable=true
*.rb linguist-language=Ruby
*.swift linguist-detectable=true
*.swift linguist-language=Swift
*.kotlin linguist-detectable=true
*.kotlin linguist-language=Kotlin
*.go linguist-detectable=true
*.go linguist-language=Go
*.rust linguist-detectable=true
*.rust linguist-language=Rust
*.bash linguist-detectable=true
*.bash linguist-language=Shell
*.php linguist-detectable=true
*.php linguist-language=PHP
*.xml linguist-detectable=true
*.xml linguist-language=XML
*.json linguist-detectable=true
*.json linguist-language=JSON
*.yml linguist-detectable=true
*.yml linguist-language=YAML
